body{
    background: url(img/thumb-1920-551467.png);   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}